<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bubbles</title>
    <link rel="icon" type="image/x-icon" href="/images/bubble.png">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="banner">
        <h1>Bubbles</h1>
        <button onclick="requestActivitiesDB()" class="auth" id="loadDB">Load Activities</button>
        <a id="recent" class="auth">Sync Recent</a>
        <a id="all" class="auth">Sync All</a>
    </div>
    <div class="sidebar">
        <h2>Year</h2>
        <select id="year-select" size="25"></select>
    </div>

    <div class="calendar-header">
        <h1 id="calendar-title">2024</h1>
        <div class="weekdays">
            <div class="day-name">Week</div>
            <div class="day-name">Mon</div>
            <div class="day-name">Tue</div>
            <div class="day-name">Wed</div>
            <div class="day-name">Thu</div>
            <div class="day-name">Fri</div>
            <div class="day-name">Sat</div>
            <div class="day-name">Sun</div>
        </div>
    </div>

    <main class="content">
        <div class="calendar">
            <div id="calendar-days"></div>
        </div>
    </main>

  <script src="/javascripts/script.js"></script>
</body>

</html>
