* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.banner {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 2vh;
  position: fixed;
}

.app-name {
  color: white;
  text-decoration: none;
}

.auth {
  margin: 0 20px 0 10px;
  padding: 7px;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-decoration: none;
}

#loadDB {
  margin-left: auto;
}

.sidebar {
  width: 15vw;
  height: 90vh;
  background-color: lightgrey;
  padding: 20px;
  display: block;
  position: fixed;
  right: 0;
  top: 10vh;
}

#year-select {
  width: 50px;
  padding: 5px;
  margin-bottom: 15px;
  outline: none;
  border: 0;
  /* background-color: pink; */
  font-size: 15px;
  cursor: pointer;
  list-style-type: none;
}

.sync-specific-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.calendar-header {
  position: fixed;
  top: 10vh;
  background-color: lightgrey;
  width: 80vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendar-title {
  margin: 5px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.day-name {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* background-color: lightpink; */
  margin-top: 25vh;
  padding: 0 10px;
}

.calendar {
  width: 100%;
}

#calendar-days {
  display: flex;
  flex-direction: column;
  /* background-color: lightgreen; */
}

.week {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  width: 100%;
  margin: 5px auto;
  border-bottom: 1px solid lightgrey;
}

.day {
  padding: 10px;
  margin: 0;
  /* background-color: lightgoldenrodyellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100px;
}

.day h1 {
  margin-top: 25px;
  color: lightgrey;
  font-size: 16px;
  font-weight: normal;
}

.spacer {
  padding: 50px 10px 10px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  /* background-color: lightcyan; */
  color: black;
}

.week-title {
  font-weight: bold;
}

.week-miles {
  font-weight: normal;
}

.bubble-container {
  /* background-color: lightpink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  cursor: pointer;
}

.bubble-container p {
  font-size: 10px;
  margin-top: 8px;
  padding: 0;
  color: darkslategrey;
  font-weight: 400;
}

.bubble-container:hover p {
  text-decoration: underline;
}

.bubble {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  aspect-ratio: 1/1;
}

#popup {
  display: none;
  background-color: white;
  color: black;
  position: absolute;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 5px;
  width: 20vw;
}

#popup-title {
  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
}

#popup p {
  font-size: 12px;
  max-height: 100px;
  overflow-y: hidden;
  margin: 0;
  padding: 2px;
}

.activity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  background-color: lightgrey;
  margin: 15vh auto 0 auto;
  padding: 30px;
}

#link-strava {
  margin: 0 20px 0 auto;
}

.activity-stat {
  font-weight: bold;
}

#type-select {
  width: 80px;
}

#early {
  display: none;
}

#all {
  display: none;
}